# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
build_log.txt
lint_log.txt
debug_build.log
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Node
node_modules
dist
dist-ssr

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
